@page "/monthlyexpenses"
@using System.ComponentModel
@using System.Text
@using System.Text.Encodings.Web
@using System.Text.Json
@using ExpenseAnalysis.Common.Model
@using ExpenseAnalysis.UI.ViewModels
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>MonthlyExpenses</h3>
<PageTitle>@Title</PageTitle>

<MudRTLProvider RightToLeft="true">
    <MudTable Items="@monthlyExpenses" Hover="true" RowClass="cursor-pointer" SortLabel="Sort By" Elevation="0" Striped="true" T="MonthlyExpenseViewModel"  OnRowClick="OnRowClick">
        <HeaderContent>
            @foreach (var header in monthlyExpenses.First().Headers)
            {
                <MudTh Style="background: #e8e9eb"><b>@header</b></MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.Year</MudTd>
            <MudTd DataLabel="Date">@context.Month</MudTd>
            <MudTd DataLabel="Date">@context.TotalIncomeInShekels.FormattedValue</MudTd>
            <MudTd DataLabel="Date">@context.TotalChargesInShekels.FormattedValue</MudTd>
            <MudTd DataLabel="Date">@context.Difference.FormattedValue</MudTd>
            <MudTd DataLabel="Date">@context.Notes</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] {50, 100}" />
        </PagerContent>
    </MudTable>
</MudRTLProvider>

@code {

    private string Title => "הוצאות חודשיות";
    private List<MonthlyExpenseViewModel> monthlyExpenses = new();

    protected override void OnInitialized()
    {
        var dir = Directory.GetFiles("C:\\Leumi-To-Program\\monthly_report_jsons");
        var text = File.ReadAllText(dir[0], Encoding.GetEncoding("Windows-1255"));
        var deserializedContent = JsonSerializer.Deserialize<MonthlyReport>(text, new JsonSerializerOptions { WriteIndented = true, Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping });
        monthlyExpenses.Add(new MonthlyExpenseViewModel(deserializedContent));
    }


    

    private void OnRowClick(TableRowClickEventArgs<MonthlyExpenseViewModel> obj)
    {
        Console.WriteLine(JsonSerializer.Serialize(obj.Item));
        Navigation.NavigateTo($"/monthlyexpenses/{obj.Item.Year}/{obj.Item.Month}");
    }
}